# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Editor directories
.vscode/
.idea/

# Build output
dist/
build/
